@import url('https://fonts.cdnfonts.com/css/sega-logo-font');


h1{
    font-family: 'SEGA LOGO FONT', sans-serif;
    color: #0cc0c4;
    font-weight: 200;
}

                                                